@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Vollkorn:wght@400;500;600;700;800&family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Ogg;
	src: url("../public/fonts/Ogg-Roman.otf");
}

@font-face {
	font-family: Machina;
	src: url("../public/fonts/machina/NeueMachina-Regular.otf");
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html,
body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	overflow-x: hidden;
	font-family: Vollkorn, Inter, Ogg, Machina, -apple-system, sans-serif;

	&::-webkit-scrollbar {
		width: 0.5rem;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px hsla(0, 0%, 0%, 0.3);
	}

	&::-webkit-scrollbar-thumb {
		background-color: hsl(225, 14%, 89%);
		border-radius: 20px;
		color: hsl(0, 0%, 96%);
	}

	.left-bg-oval {
		background: hsl(158, 78%, 16%);
		filter: blur(150px);
		transform: matrix(-0.36, -0.93, 0.93, -0.36, 0, 0);
	}

	.right-bg-oval {
		background: hsl(158, 92%, 10%);
		filter: blur(150px);
		transform: matrix(0.62, -0.78, 0.78, 0.62, 0, 0);
	}
}

.custom-sidebar {
	&::-webkit-scrollbar {
		width: 0.5rem;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px hsla(0, 0%, 0%, 0.3);
	}

	&::-webkit-scrollbar-thumb {
		background-color: hsl(225, 14%, 89%);
		border-radius: 20px;
		color: hsl(0, 0%, 96%);
	}
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}
.experience--li {
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-kerning: auto;
	cursor: pointer;
	transform-style: preserve-3d;
	border: 1px solid red;

	.experience--li--container {
		    line-height: 1.15;
    font-family: akzidenz-grotesk,sans-serif;
    font-size: 14px;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    font-feature-settings: "liga","kern";
    color: #f2f2f2;
    list-style: none;
    cursor: pointer;
    box-sizing: inherit;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-kerning: auto;
    transform: rotateY(-45deg) translateZ(0) scale(1);
    transform-origin: right center;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform 1.5s cubic-bezier(.075,.82,.165,1);
		&:hover {
			transform: rotateY(-35deg) translateZ(0) scale(1);
			transform: rotateY(-35deg) translateZ(0);
			transition-duration: 1s;
			transform: perspective(1200px) rotateY(-40deg);
			transition: 0.45s;
			transform-origin: right center;
			transform-style: preserve-3d;
			will-change: transform;
		}

		a {
			transform: perspective(1200px) rotateY(-45deg) translateZ(0) scale(1);
			--transform-y: 0%;
			font-style: normal;
			font-stretch: normal;
			display: block;
			text-align: right;
			text-transform: uppercase;
			font-weight: 900;
			font-size: 11vw;
			letter-spacing: 0.02em;
			line-height: 0.9em;
			transform-origin: right center;
			transition: color 0.2s ease-in-out, transform 0.5s;
			-webkit-text-stroke: 2px #000;
			color: #000;
			transform: rotateY(0deg) translateZ(0);
			position: relative;

			&::before {
				content: '2022';
				white-space: pre;
				position: absolute;
				top: 3.7em;
				left: -250px;
				width: 200px;
				text-align: right;
				font-size: 0.7vw;
				font-weight: 500;
				letter-spacing: 0;
				line-height: 1em;
				color: #000 !important;
				pointer-events: none;
				transition: none;
			}

			&::after {
				content: "";
				position: absolute;
				top: 0.23em;
				left: -0.3em;
				width: 2px;
				height: 0.85em;
				background-color: #000;
				transform: rotate(25deg);
				pointer-events: none;
			}
		}
	}
}
