@import url('https://fonts.googleapis.com/css2?family=Inter&family=Vollkorn&family=Work+Sans&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Vollkorn, Inter, Work Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px hsla(0, 0%, 0%, 0.3);
      // border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: hsl(225, 14%, 89%);
      border-radius: 20px;
      // color: hsla(90, 25%, 52%, 0.35);
      // color: hsl(210, 20%, 98%);
      color: hsl(0, 0%, 96%);
    }
}

.dev {
  background: hsl(158, 100%, 23%);
  filter: blur(300px);
  transform: matrix(0.62, -0.78, 0.78, 0.62, 0, 0);
}
.deve {
  background: hsl(158, 75%, 47%);
  filter: blur(300px);
  transform: matrix(-0.36, -0.93, 0.93, -0.36, 0, 0);
}